@font-face {
  font-family: "Metropolis";
  src: url("../assets/font/Metropolis-thin.woff2") format("woff2"), url("../assets/font/Metropolis-thin.woff") format("woff"), url("../assets/font/Metropolis-thin.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/font/Metropolis-bold.woff2") format("woff2"), url("../assets/font/Metropolis-bold.woff") format("woff"), url("../assets/font/Metropolis-bold.ttf") format("truetype");
  font-weight: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-align: center;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a, a:focus, a:visited {
  color: #FFFFFF;
}

ul {
  list-style-type: none;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

small {
  display: block;
  color: #E5E5E5;
  font-size: 10px;
}

.no-scroll {
  overflow: hidden;
}

.parallax {
  opacity: 0;
  transform: translate(20%, -15%);
}

.section {
  position: relative;
}
.section__heading {
  color: #292929;
  margin-top: 64px;
}
.section--white {
  background-color: #FFFFFF;
}
.section--grey {
  background-color: #EFEFEF;
}
.section--landing-page {
  min-height: 100vh;
}
.section--landing-page::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FD5C63;
  background-attachment: fixed;
  background-size: cover;
  z-index: -2;
}
.section--landing-page::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#fd5c63 0%, #ac2c54 100%);
  opacity: 0.85;
  z-index: -1;
}

@media only screen and (min-width: 1366px) {
  .section__heading {
    font-size: 28px;
  }
  .section--landing-page::after {
    background-image: linear-gradient(to left, #fd5c63 0%, #ac2c54 100%);
  }
}
@media only screen and (min-width: 1920px) {
  .section__heading {
    font-size: 36px;
  }
}
.read-more {
  background-color: #E5E5E5;
  padding: 8px 0;
  line-height: 0;
  display: block;
}
.read-more__dot {
  line-height: 4px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #999999;
}

@media only screen and (min-width: 1366px) {
  .read-more--companies-list {
    display: none;
  }
}
.cta-button {
  border-radius: 23px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  transition: 150ms ease-in-out;
  margin: 64px 0;
}
.cta-button--messenger {
  background: #0084FF;
  display: inline-flex;
  align-items: center;
}
.cta-button--messenger::before {
  content: url("../assets/images/messenger.svg");
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.cta-button--messenger:hover {
  background-color: #007ff5;
}
.cta-button--primary {
  background: #FD5C63;
  margin: 16px 0;
}
.cta-button--primary:hover {
  background-color: #fd4d55;
}

@media only screen and (min-width: 1366px) {
  .cta-button {
    margin: 16px 0;
  }
}
.footer {
  background-color: #FD5C63;
  padding: 8px;
}
@media only screen and (min-width: 1366px) {
  .footer {
    padding: 48px;
  }
}
.navigation {
  display: inline-block;
  min-height: 14px;
}
.navigation--slide-in {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FD5C63;
  height: 100vh;
  width: 80vw;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.45);
  z-index: 999;
}
.navigation--slide-in::before {
  content: "";
  display: block;
  height: 100vh;
  width: 20vw;
  position: absolute;
  left: -20vw;
  background-color: black;
  opacity: 0.6;
}

.burger-menu-icon {
  line-height: 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.burger-menu-icon__line {
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
  margin-bottom: 4px;
  display: inline-block;
  transition: all 300ms ease-in-out;
}
.burger-menu-icon__line--last {
  margin-bottom: 0;
}
.burger-menu-icon__line--slide-in:first-child {
  margin: 0;
  transform: rotate(45deg);
  position: relative;
  top: 12px;
  left: 3px;
}
.burger-menu-icon__line--slide-in:nth-child(2) {
  margin: 0;
  transform: rotate(-45deg);
  position: relative;
  top: 10px;
  left: 3px;
}
.burger-menu-icon__line--slide-in:last-child {
  display: none;
}
.burger-menu-icon--slide-in {
  margin: 16px;
  min-height: 24px;
  min-width: 24px;
}

@media only screen and (min-width: 1366px) {
  .burger-menu-icon {
    display: none;
  }
}
.content {
  padding: 64px 0;
}
.content__item:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1366px) {
  .content {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .content__item {
    text-align: left;
  }
  .content__item:first-child {
    margin-right: 128px;
  }
  .content__item:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1920px) {
  .content__item:first-child {
    margin-right: 256px;
  }
}
.slogan__heading {
  color: white;
  font-size: 22px;
  margin-bottom: 4px;
}
.slogan__text {
  color: white;
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .slogan {
    align-self: center;
  }
  .slogan__heading {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .slogan__text {
    color: white;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1366px) {
  .slogan__heading {
    display: inline-block;
  }
}
@media only screen and (min-width: 1920px) {
  .slogan__heading {
    font-size: 36px;
    margin-bottom: 12px;
  }
  .slogan__text {
    color: white;
    font-size: 18px;
  }
}
.menu {
  display: none;
}
.menu__item {
  display: inline-block;
  margin-right: 16px;
}
.menu__item a, .menu__item a:hover, .menu__item a:visited {
  transition: text-shadow 150ms ease-in-out;
  color: #FFFFFF;
}
.menu__item a:hover {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.45);
}
.menu__item--footer {
  display: block;
  margin: 4px 0;
  font-size: 12px;
}
.menu__item--last {
  margin: 0;
}
.menu--footer {
  display: block;
  margin: 8px 0;
}
.menu--slide-in {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu--slide-in li {
  display: inline-block;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
}
.menu--slide-in li:last-child {
  margin-bottom: 0;
}
.menu--hidden {
  display: none;
}

@media only screen and (min-width: 1366px) {
  .menu {
    display: block;
  }
  .menu--footer {
    margin: 24px 0;
  }
  .menu__item--footer {
    display: inline-block;
    margin-right: 32px;
  }
  .menu__item--footer:last-child {
    margin-right: 0;
  }
}
.header {
  text-align: right;
  padding: 16px;
}
@media only screen and (min-width: 1366px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 32px;
  }
}
.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.logo--header {
  transform: scale(0.7);
  transform-origin: center top;
}

@media only screen and (min-width: 1366px) {
  .logo {
    position: relative;
    margin: auto 0;
  }
  .logo--header {
    transform: scale(1);
  }
}
.mobile-preview {
  display: flex;
  justify-content: center;
  height: 528px;
}
.mobile-preview__inner {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: top center;
}
.product-list {
  margin: 64px 32px;
}
.product-list__item {
  margin: 32px 0;
}
.product-list__item--last {
  margin: 0;
}
.product-list__icon {
  width: 56px;
  height: 56px;
  margin: auto;
  margin-bottom: 8px;
}
.product-list__heading {
  color: #292929;
}
.product-list__text {
  color: #999999;
  font-size: 12px;
}
@media only screen and (min-width: 1366px) {
  .product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .product-list__item {
    margin-right: 128px;
  }
  .product-list__item:last-child {
    margin-right: 0;
  }
  .product-list__heading {
    font-size: 22px;
  }
  .product-list__text {
    font-size: 14px;
  }
}
.partnership-program {
  margin: 64px 32px;
}
.partnership-program__heading {
  color: #292929;
  margin-bottom: 16px;
}
.partnership-program__text {
  color: #999999;
  margin-bottom: 16px;
  font-size: 12px;
}
@media only screen and (min-width: 1366px) {
  .partnership-program__heading {
    font-size: 22px;
  }
  .partnership-program__text {
    font-size: 14px;
  }
}
.socials__icon {
  display: inline-block;
}
.socials__icon--contact {
  margin: 8px 0;
  width: 36px;
  height: 36px;
  transition: transform 150ms ease-in-out;
}
.socials__icon--contact:hover {
  transform: scale(1.1);
}
.socials__icon--footer {
  margin: 4px 0;
  width: 20px;
  height: 20px;
  transition: transform 150ms ease-in-out;
}
.socials__icon--footer:hover {
  transform: scale(1.1);
}
@media only screen and (min-width: 1366px) {
  .socials__icon--footer {
    margin: 0 4px;
  }
}
.faq-list {
  margin: 64px 32px;
}
.faq-list__item {
  margin: 32px 0;
}
.faq-list__item--last {
  margin: 0;
}
.faq-list__heading {
  color: #292929;
}
.faq-list__text {
  color: #999999;
  margin-top: 4px;
  font-size: 12px;
}
.faq-list__text--highlighted {
  color: #FD5C63;
  font-weight: 700;
}
@media only screen and (min-width: 1366px) {
  .faq-list__heading {
    font-size: 22px;
  }
  .faq-list__text {
    font-size: 14px;
  }
}
.companies-list {
  padding: 64px 0;
}
.companies-list__item {
  height: 65px;
  width: 230px;
  background-color: #e6e6e6;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  transition: all 300ms ease-in-out;
}
.companies-list__item:hover {
  background-color: #FD5C63;
  opacity: 0.3;
}
.companies-list__item:last-child {
  margin-bottom: 0;
}
.companies-list__item--hidden {
  display: none;
}
@media only screen and (min-width: 1366px) {
  .companies-list {
    padding: 64px;
  }
  .companies-list__item {
    display: inline-block;
    margin: 0 5%;
  }
}
@media only screen and (min-width: 1920px) {
  .companies-list__item {
    margin: 0 6%;
  }
}

/*# sourceMappingURL=style.css.map */
