.mobile-preview
  display: flex
  justify-content: center
  height: 528px
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
  
  // ELEMENTS
  +element('inner')
    display: inline-block
    transform: scale(0.55)
    transform-origin: top center
  +modifier('')



// MEDIA QUERIES
+hdready
