.socials
  // ELEMENTS
  +element('icon')
    display: inline-block
    
    +modifier('contact')
      margin: 8px 0
      width: 36px
      height: 36px
      transition: transform 150ms ease-in-out
      &:hover
        transform: scale(1.1)
    +modifier('footer')
      margin: 4px 0 
      width: 20px
      height: 20px
      transition: transform 150ms ease-in-out
      &:hover
        transform: scale(1.1)
  // MODIFIERS
  +modifier('blue')

// MEDIA QUERIES
+mobile
+hdready
  .socials
    +element('icon')
      +modifier('footer')
        margin: 0 4px